<div id="like_count_for_article_<%=article.id%>">
  <%= pluralize(like_cnt, 'like') %>
  <% if current_user && current_user.likes.exists?(article_id: article.id, liked: true) %>
    <%= link_to 'ðŸ’”', like_article_path(liked_article_id: article.id), remote: true %>
  <% elsif current_user %>
    <%= link_to 'â¤', like_article_path(liked_article_id: article.id), remote: true %>
  <% end %>
</div>
